---
needHelp: true
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | ANRÓ Agency{% else %}ANRÓ Agency{% endif %}</title>
  <link rel="stylesheet" href="/style/index.css">
</head>
<body>
  {% include "components/layout/header/header.njk" %}
  <main>
    {{content | safe}}
  </main>
  {% if needHelp %}{% include "components/layout/need-help/need-help.njk" %}{%endif%}
  {% include "components/layout/footer/footer.njk" %}
  <script type="module" src="/scripts/index.js"></script>
</body>
</html>