{% from "components/layout/button/button.njk" import button %}
<section class="customers">
  <h2 class="h2 customers__title">Mes clients</h2>
  <ul class="customers__list">
    {% for customer in customers %}
      <li>
        <figure class="customer__logo">
          <img src="{{ site.api }}/assets/{{ customer.logo }}?width=1000" title="{{ customer.name }}" alt="{{ customer.name }}"></figure>
        </li>
      {% endfor %}
    </ul>
    <div class="customers__content">
      <p class="text">
        {{homepage.customer_text}}
      </p>
      {{ button(label="En découvrir plus", href="/portfolio/") }}
    </div>
  </section>