<header class="header">
  <div class="header__container">
    <a class="header__logo logo" href="/">anró agency</a>
    <nav class="header__navigation">
      <ul class="header__navigation-list">
          <li class="header__navigation-item">        
              <button class="h6 header__navigation-label">
                Services
              </button>
              <ul class="header__sub-navigation">
                {% for subitem in services %}
                  <li class="header__sub-navigation-item">
                    <a href="/services/{{ subitem.slug }}/" class="header__sub-navigation-link h6">{{ subitem.name }}</a>
                    <p class="text">{{ subitem.description }}</p>
                  </li>
                {% endfor %}
              </ul>
          </li>
        {% for item in navigation %}
          <li class="header__navigation-item">
            {% if item.items %}
              <button class="h6 header__navigation-label">
                {{ item.label }}
              </button>
              <ul class="header__sub-navigation">
                {% for subitem in item.items %}
                  <li class="header__sub-navigation-item">
                    <a href="{{ subitem.href }}" class="header__sub-navigation-link h6">{{ subitem.label }}</a>
                    <p class="text">{{ subitem.description }}</p>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <a class="h6 header__navigation-label" href="{{ item.href }}">{{ item.label }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <ul class="header__social">
      {% for link in social.social %}
        <li>
          <a title="{{link.name}}" target="_blank" href="{{ link.link }}">
            {% include "components/icons/" + link.icon + ".njk" %}
          </a>
        </li>
      {% endfor %}
    </ul>
    <button title="Navigation" id="hamburger"></button>
  </div>
</header>