.header{
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
  position: relative;
}
.header__container{
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
}
.header__logo{
  flex: 1 1 0;
}
.header__navigation{
  display: flex;
  justify-content: center;
}
.header__navigation-list{
  display: flex;
  gap: 60px;
}
.header__social{
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
}
.header__sub-navigation{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 276px);
  padding: 40px 120px;
  background: var(--grey);
  gap:40px;
  top:calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%) translateY(50px);
  transition: opacity 300ms, transform 300ms;
  z-index: 2;
}

.header__sub-navigation.active{
  opacity: 1;
  pointer-events: all;
  transform: translateX(-50%) translateY(0px);
}
.header__navigation-label{
  display: flex;
  align-items: center;
  gap:1rem;
}
button.header__navigation-label::after{
  content:'';
  height: 10px;
  width: 19px;
  display: block;
  background: url("data:image/svg+xml,%3Csvg width='19' height='10' viewBox='0 0 19 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.72204 0.050293L0.661377 1.11095L9.50021 9.94979L18.339 1.11095L17.2784 0.050293L9.50021 7.82847L1.72204 0.050293Z' fill='%23E9E4D9'/%3E%3C/svg%3E%0A");;
}