<header class="header">
  <div class="header__container">
    <a class="header__logo logo" href="/" class="logo">anró agency</a>
    <nav class="header__navigation">
      <ul class="header__navigation-list">
        {% for item in navigation %}
          <li class="header__navigation-item">
            {% if item.items %}
              <button class="h6 header__navigation-label">
                {{ item.label }}
              </button>
              <ul class="header__sub-navigation">
                {% for subitem in item.items %}
                  <li>
                    <a href="{{subitem.href}}" class="h6">{{ subitem.label }}</a>
                    <p class="text">{{ subitem.description }}</p>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <a class="h6 header__navigation-label" href="{{ item.href }}">{{ item.label }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
      <ul class="header__social">
        {%for link in social%}
          <li>
          <a href="{{link.href}}">
            {% include "components/icons/" + link.icon + ".njk" %}
          </a>
          </li>
        {%endfor%}
      </ul>
      <button id="hamburger">Button</button>
  </div>
</header>