{% from "components/index/hero-button/hero-button.njk" import heroButton %}
{% from "components/index/hero-number/hero-number.njk" import number %}

<section class="hero">
  <h1 class="hero__title">anró</h1>
  <div class="hero__content">
    <p class="hero__text text">
      {{homepage.header_text}}
    </p>
    {{ heroButton(label="Découvrez l’agence", href="#mes-services", hoverLabel="Rendez votre communication unique") }}
  </div>
  <div class="hero__pill">
    <figure class="hero__pill-figure">
    <img width="1000" height="500" src="{% img homepage.header_image, 1000, 500  %}" alt="">
  </figure>
  </div>
  <div class="hero__numbers">
   {% for numberItem in homepage.numbers %}
     {{number(label=numberItem.label, number=numberItem.value)}}
   {% endfor %}
  </div>
</section>