.hero{
  color: var(--primary);
  max-width: 1268px;
  margin: 0 auto;
}
.hero__title{
  font-family: "Asset";
  font-size: 14.9375rem;
  line-height: 125%;
  line-height: box-height;
  margin-top: 32px;
  text-align: center;
}
.hero__content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hero__text {
  max-width: 706px;
}
.hero__pill{

  height: 413px;
  width: 1546px;
  position: relative;
  margin: 32px 0;
}
.hero__pill-figure{
  border-radius: 400px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: -275px;
}
.hero__pill-figure img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero__numbers{
  display: flex;
  justify-content: space-between;
  max-width: 1068px;
  margin: 0 auto 200px auto;
}
@media(max-width: 1320px){
  .hero__text{
    max-width: 600px;
  }
  .hero__title{
    font-size: 11.25rem;
  }
  .hero__content{
    gap:1rem;
    padding: 1rem;
  }
  .hero__pill{
    height: 413px;
    width: 100%;
  }
  .hero__numbers{
    padding: 1rem;
    flex-wrap: wrap;
    gap:38px;
  }
}
@media (max-width: 1050px) {
    .hero__numbers{
      justify-content: center;
    }
    .hero__content{

    flex-direction: column;
    }
  .hero__title{
    font-size: 5.25rem;
  }
}
@media (max-width: 600px) {
  .hero__title{
    font-size: 4.3125rem;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .hero__pill{
    width: 499px;
    height: 215px;
    right: -126px;
  }
}