{% macro number(label, number) %}
  <div class="hero-number">
    <span class="hero-number__value number-asset">{{ number }}</span>
    <span class="h6 hero-number__label">
      {{ label }}
    </span>
  </div>
{% endmacro %}