.breadcrumb__list{
  display: flex;
}
.breadcrumb__item{
  font-family: "Poppins";
  color: var(--primary);
  font-size: 1rem;
  display: flex;
}
.breadcrumb__link{
  display: block;
}
.breadcrumb__item:not(:last-child) .breadcrumb__link{
  text-decoration: underline;
}
.breadcrumb__item:not(:last-child)::after{
  content:'>';
  margin:  0 1rem;
}
@media(max-width: 800px){
  .breadcrumb__item:not(:nth-last-child(-n + 2)){
    display: none;
  }
}