<footer class="footer">
  <div class="footer__container">
    <div class="footer__description">
      <span class="logo">anró agency</span>
      <p class="text footer__description-text">{{homepage.footer_text}}</p>
        <a href="https://www.sortlist.com/agency/anro-agency" style="display:inline-block; width:140px; height:40px;"><img src="https://core.sortlist.com//_/apps/core/images/badges-fr/badge-flag-white-dark-xs.svg" alt="flag"/></a>
    </div>
    <div class="footer__navigations">
    <nav>
      <h3 class="h6 footer__navigation-title">Navigation</h3>
      <ul class="footer__navigation">
        <li>
          <a class="link" href="/">Accueil</a>
        </li>
        {% for item in navigation %}
          <li>
            <a class="link" href="{{ item.href }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <nav>
      <h3 class="h6 footer__navigation-title">Services</h3>
      <ul class="footer__navigation">
        {% for item in services %}
          <li>
            <a class="link" href="/services/{{ item.slug }}/">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <nav>

      <h3 class="h6 footer__navigation-title">Suivez moi</h3>
      <ul class="footer__navigation">
        {% for item in social.social %}
          <li>
            <a target="_blank" class="link" href="{{ item.href }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  </div>
  
  <div class="footer__footer">
    <span class="text">&copy; 2023 ANRO Agency</span>
    <a class="link" href="/mentions-legales/">Mentions légales</a>
    <span class="text">Réalisation par <a target="_blank" class="link" href="https://loak.studio">loak.studio</a></span>
  </div>
</footer>