---
layout: layout.njk
title: Contact
needHelp: false
---

<section class="page-contact">
  <h1 class="h1">Contact</h1>
  <ul class="page-contact__links">
    <li class="page-contact__link">
      <span class="text page-contact__link-title">Téléphone</span>
      <a class="h5" href="tel:{{social.phone}}">{{social.phone}}</a>
    </li>
    <li class="page-contact__link">
      <span class="text page-contact__link-title">Mail</span>
      <a class="h5 page-contact__link-link" href="mailto:{{social.mail}}">{{social.mail}}</a>
    </li>
    <li class="page-contact__link">
      <span class="text page-contact__link-title">Réseaux sociaux</span>
      <div class="page-contact__link-social">
        {% for link in social.social %}
          <a title="{{link.name}}" target="_blank" href="{{link.href}}">
            {% include "components/icons/" + link.icon + ".njk" %}
          </a>
        {% endfor %}
      </div>
    </li>
  </ul>
  <figure class="page-contact__figure">
    <img width="1064" height="399" src="{% img homepage.contact_picture, 1064, 399 %}" alt="">
  </figure>
</section>