---
layout: layout.njk
pagination:
    data: services
    size: 1
    alias: service
    addAllPagesToCollections: true
permalink: "services/{{ service.slug }}/"
eleventyComputed:
    title: "{{service.name}}"
---


{% from "components/services/sub-service/sub-service.njk" import subService %}

<h1 class="h1 page-service__title">{{service.name}}</h1>


{% for subservice in service.subServices%}
  {{subService(subservice=subservice.item, index=loop.index, site=site)}}
{% endfor %}