{% macro projectTitle(component, site) %}
<div class="project-title">
    <div class="project-title__container">
      <h2 class="h2">{{component.item.title }}</h2>
    <figure class="project-title__figure">
      <img src="{% img component.item.image, 667, 326  %}" width="667" height="326" alt="">
    </figure>
    </div>
</div>
{% endmacro %}